* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
}
#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* z-index: ;  là thể hiện chiều sâu trên page, số càng to thì nó càng nổi lên */
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style: none;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}
#nav > li > a {
  color: white;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav .subnav a:hover,
#nav > li:hover > a {
  color: black;
  background-color: #ccc;
}
#nav .subnav {
  display: none;
  position: absolute;
  /* position absolote phụ thuộc với một thẻ cha mang position  */
  background-color: white;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  top: 100%;
  left: 0;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav a {
  color: black;
  padding: 0 16px;
  line-height: 38px;
  min-width: 160px;
}
.search {
  float: right;
}
#header .search:hover {
  background-color: #f44336;
  cursor: pointer;
}
#header .fa-search {
  color: white;
  font-size: 16px;
  line-height: 46px;
  padding: 0 24px;
}

#slider {
  /* min-height: 500px;
  background-color: #333; */
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  /* 50% của chiều ngang á */

  background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat;
}
#content {
}
#footer {
}
#slider .text-content {
  position: absolute;
  bottom: 48px;
  color: white;
  width: 100%;
}
#slider .text-heading {
  margin-bottom: 25px;
  text-align: center;
  font-weight: 400;
  /* font-weight: đi từ 100 to 700 */
  font-size: 24px;
}
#slider .text-description {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
